.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  max-width: 75%;
  margin: 0 auto;
}

.nav-link {
  display: block;
  padding: .5em 1em;
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.nav-tabs {
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}

.nav-tabs .nav-link{
  color: #464a4c;
  background-color: #fff;
  border-color: #fff;
  border-color: #fff #fff #ddd #fff;
}

.nav-tabs .nav-link.active{
  border-color: #ddd #ddd #fff #ddd;
}

.zone {
  background-color: #fff;
  margin: 0 auto;
  padding-top: 15px;
  max-width: 75%;
}

.card-block {
  padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-text p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.zone .card {
  width: 20%;
  display: inline-block;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  margin-left: .5em;
  margin-right: .5em
}

.value {
  font-size: 28px;
  text-align: center;
}
.value.ok{
  color: green;
}
.value.warrning{
  color: orange;
}
.value.error{
  color: red;
}

.percentage:after {
  content: ' %';
}
