.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

#issue_tree .list.issues .subject a{
  color:#2996cc;
}

#issue_tree .list.issues{
  background-color: white;
}

#issue_custom_field_values_29, label[for='issue_custom_field_values_29'] + .si-wrapper {
  width: 100%;
}

div.issue{
  background-color: #fafafa !important;
}

td.subject a.status-3,
td.subject a.status-5,
td.subject a.status-6{
  color:#b3b3b3 !important;
  text-decoration: line-through !important;
  font-weight: normal !important;
}

/* issue history layout */
.journal{
  border-bottom: 1px solid lightgrey;
  padding: 10px 15px;
}

.journal.has-notes {
  background-color: #f5f3f3;
}

.journal h4{
  display: inline-block;
  border-bottom: none;
  margin-top: 3px;
  min-width: 420px;
    vertical-align: top;
}

.journal ul.details{
  display: inline-block;
  margin-top: 0;
  font-size: 12px;
  margin-bottom: 0 !important;
}

.journal .journal-link {
  float: none;
  margin-top: 3px;
  display: inline-block;
  width: 28px;
}

#history{
  margin-bottom: 25px;
}
