/* tooltips*/

.tooltip-content h3{
  color: #fff;
  font-size: 18px;
}

.tooltip-content dl dd {
  margin-left: 15px;
}

.tooltip-content dl dt {
  font-weight: bold;
  color: #2996CC;
}

.tooltip-content dl dt:after {
  content: ' :';
}

.tooltip-content h3 {
  color: #2996CC;
}

.tooltip-content .description p {
  padding-bottom: 0;
}


.tooltip-content .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltip-content .dl-horizontal dd {
    margin-left: 180px;
}
