/* Header */
.theme-Visiativ2016 #header > h1 {
    padding: 5px 0px 15px 140px;
    background: url(/themes/visiativ2016//images/logo.png) 0px 1px no-repeat;
    background-size: 110px;
}

.theme-Visiativ2016 #quick-search {
    margin-top: 2px;
}

/* Buttons */

#relations .contextual a,
#issue_tree .contextual a,
.contextual a.icon{
    padding: 10px;
    color: white !important;
    font-size: 15px;
    background-position: 5px;
    border-radius: 4px;
    background-color: #2996cc;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
}

#relations .contextual a,
#issue_tree .contextual a{
  margin-bottom: 15px;
  display: inline-block;
}

.contextual a.icon{
  padding-left: 25px;
}

#relations .contextual a:hover,
#issue_tree .contextual a:hover,
.contextual a.icon:hover{
  text-decoration: none;
  background-color: #3ba8de;
  color: #fff;
}

/* RSS PDF buttons */

.other-formats{
  margin-top: 30px;
}
