
span.icon{
  display: inline-block;
  height: 16px;
  width: 16px;
  padding: 0 !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon.icon-user-story{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/user-story.png");
}

.icon.icon-task{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/task.png");
}

.icon.icon-defect{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/bug.png");
}

.icon.icon-immediat{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/priority/priority1.png");
}

.icon.icon-urgent{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/priority/priority2.png");
}

.icon.icon-haut{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/priority/priority3.png");
}

.icon.icon-normal{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/priority/priority4.png");
}

.icon.icon-bas{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/priority/priority5.png");
}

.icon.icon-arrow-up{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/arrow-up.png");
}
.icon.icon-arrow-right{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/arrow-right.png");
}
.icon.icon-arrow-down{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/arrow-down.png");
}
.icon.icon-arrow-left{
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/arrow-left.png");
}

/* data tree */

.indenter{
  padding: 0 5px 0 0;
}
.data-tt-expender{
  transition: all 0.25s ease;
}

span.icon.data-tt-expender{
  cursor: pointer;
  transition: all 0.5s ease;
  height: 16px;
  width: 16px;
  padding: 0 0 0 0;
  background-size: auto auto;
}

.collapsed .data-tt-expender{
  transform: rotate(0deg);
}

.expanded .data-tt-expender {
  transform: rotate(90deg);
}

.tooltipster-box #content{
  width: 100%;
}

tr.odd.issue.child, tr.even.issue.child {
  background: #f6f7f8 !important;
}


/*Reset priority bg color*/
tr.odd.priority-highest,
tr.odd.priority-high2,
tr.odd.priority-high3,
tr.odd.priority-lowest,
tr.odd.priority-default {
  background: #fff !important;
}

tr.even.priority-highest,
tr.even.priority-high2,
tr.even.priority-high3,
tr.even.priority-lowest,
tr.even.priority-default {
  background: #fff !important;
}

tr.even.priority-highest td,
tr.odd.priority-highest td,
tr.even.priority-high4 td,
tr.odd.priority-high2 td,
tr.even.priority-high3 td,
tr.odd.priority-high3 td,
tr.even.priority-lowest td,
tr.odd.priority-lowest td {
  border-color: #e4e4e4 !important;
}

/* Reset child issue style  */
tr.issue.idnt td.subject{
  background: transparent !important;
}

tr.issue.idnt-1 td.subject,
tr.issue td.subject {
  padding-left: 0 !important;
}

.indenter{
  margin-left: 5px;
}
.ellipsis {
  display: inline-block;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.assigned_to .user{
  white-space: nowrap;
}

.issues .issue{
  font-size: 12px;
  font-family: arial;
}

tr.parent > td:first-child {
    border-left: 2px solid #d7d7d7 !important;
    border-left-color : #d7d7d7 !important;
}

tr.child > td:first-child {
    border-left: 2px solid #2996cc !important;
    border-left-color : #2996cc !important;
}

.parent .subject{
    font-weight: bold;
}

td.subject .icon{
  margin-right: 5px;
}

tr.child td.subject .icon{
  margin-left: 10px;
}

tr.isolated-child td.id{
  background-color: #ca1e1e !important;
}

tr.isolated-child .indenter{
  display: none;
}

tr.isolated-child td.id a {
  color: white !important;
}

/* tooltips*/

.tooltip-content h3{
  color: #fff;
  font-size: 18px;
}

.tooltip-content dl dd {
  margin-left: 15px;
}

.tooltip-content dl dt {
  font-weight: bold;
  color: #2996CC;
}

.tooltip-content dl dt:after {
  content: ' :';
}

.tooltip-content h3 {
  color: #2996CC;
}

.tooltip-content .description p {
  padding-bottom: 0;
}
